* {
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  font-family: Open Sans;
  color: #ffffff;
}

* ul li {
  font-size: 1.4rem;
  color: black;
  list-style: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  width: 30rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #040B14;
  z-index: 9998;
  overflow-y: auto;
  padding-left: 1.5rem;
}
header a,
header a:hover {
  color: #ffffff;
  text-decoration: none;
}
header .profile img {
  width: 12rem;
  height: 12rem;
  margin: 1.4rem auto;
  display: block;
  border-radius: 50%;
  border: 0.8rem solid #2C2F3F;
}
header .profile h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}
header .profile .socials-link {
  margin-top: 2rem;
}
header .profile .socials-link a {
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  padding: 0.8rem;
  display: inline-block;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin: 0.4rem;
  background-color: #2C2F3F;
}
header .profile .socials-link a:hover {
  background-color: #149DDD;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
#main {
  margin-left: 30rem;
}

.section-title {
  padding-top: 5rem;
  font-size: 1.4rem;
  color: #000;
}
.section-title h2 {
  position: relative;
  color: #173b6c;
  font-size: 3.2rem;
  font-weight: 600;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.section-title h2:after {
  content: "";
  width: 5rem;
  background: #149DDD;
  position: absolute;
  height: 0.4rem;
  display: block;
  bottom: 0;
  left: 0;
}
.section-title p {
  font-size: 1.6rem;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
header .nav {
  margin-top: 2rem;
}
header .nav * {
  padding: 0;
  margin: 0;
}
header .nav li {
  padding: 1.2rem;
  margin-top: 1.4rem;
}
header .nav li a {
  font-size: 1.4rem;
  display: flex;
  color: #a8a9b4;
}
header .nav li a i {
  text-align: center;
  align-items: center;
  font-size: 2.3rem;
  padding-right: 1rem;
}
header .nav li:hover a {
  color: #ffffff;
}
header .nav li:hover a i {
  color: #149DDD;
}

/*--------------------------------------------------------------
# Home-section
--------------------------------------------------------------*/
#home-section {
  width: 100%;
  height: 100vh;
  background: url("../img/background-homemain.jpg") top center;
  background-size: cover;
}
#home-section:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 100vh;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#home-section #home-content {
  z-index: 2;
  color: #ffffff;
  position: relative;
  padding-top: 1rem;
}
#home-section #home-content h1 {
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 56px;
}
#home-section #home-content p {
  padding-top: 1rem;
  font-size: 2.6rem;
  font-weight: 500;
}
#home-section #home-content p span {
  border-bottom: #149DDD solid;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  width: 30rem;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  background-color: #040B14;
  color: #ffffff;
  margin-bottom: 1.8rem;
}
footer a {
  color: #149DDD;
}
footer .credit,
footer .copyright {
  margin: 0.5rem 0.5rem auto;
  font-size: 1.3rem;
  text-align: center;
}