* {
    box-sizing: border-box;
}

body,
html {
    font-size: 10px;
    font-family: Open Sans;
    color: #000;
}

* ul li {
    color: black;
    list-style: none;
}

* p {
    color: black;
    font-size: 1.6rem;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
    width: 30rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #040B14;
    z-index: 9998;
    overflow-y: auto;
    padding-left: 1.5rem;

    a,
    a:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .profile {
        img {
            width: 12rem;
            height: 12rem;
            margin: 1.4rem auto;
            display: block;
            border-radius: 50%;
            border: 0.8rem solid #2C2F3F;
        }

        h2 {
            margin-top: 1rem;
            font-size: 2.5rem;
            font-weight: 700;
            color: #ffffff;
        }

        .socials-link {
            margin-top: 2rem;

            a {
                text-align: center;
                font-size: 2rem;
                line-height: 1;
                padding: 0.8rem;
                display: inline-block;
                border-radius: 50%;
                height: 3.5rem;
                width: 3.5rem;
                margin: 0.4rem;
                background-color: #2C2F3F;

                &:hover {
                    background-color: #149DDD;
                }
            }
        }

    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
#main {
    margin-left: 30rem;
}

.section-title {
    padding-top: 5rem;
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 2.5rem;

    h2 {
        position: relative;
        color: #173b6c;
        font-size: 3.2rem;
        font-weight: 600;
        padding-bottom: 2rem;
        margin-bottom: 2rem;

        &:after {
            content: "";
            width: 5rem;
            background: #149DDD;
            position: absolute;
            height: 0.4rem;
            display: block;
            bottom: 0;
            left: 0;
        }
    }

    p {
        font-size: 1.6rem;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
header .nav {
    margin-top: 2rem;

    * {
        padding: 0;
        margin: 0;
    }

    li {
        padding: 1.2rem;
        margin-top: 1.4rem;

        a {
            font-size: 1.5rem;
            display: flex;
            color: #a8a9b4;

            i {
                text-align: center;
                align-items: center;
                font-size: 2.3rem;
                padding-right: 1rem;
            }
        }
    }

    li:hover {
        a {
            color: #ffffff;

            i {
                color: #149DDD;
            }
        }
    }
}

/*--------------------------------------------------------------
# Home-section
--------------------------------------------------------------*/
#home-section {
    &:before {
        content: "";
        background: rgba(#000, 0.2);
        position: absolute;
        height: 100vh;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    width: 100%;
    height: 100vh;
    background:url("../img/background-homemain.jpg") top center;
    background-size: cover;
    margin-bottom: 1.5rem;

    #home-content {
        z-index: 2;
        color: #ffffff;
        position: relative;
        padding-top: 1rem;

        h1 {
            font-size: 6.4rem;
            font-weight: 800;
            line-height: 56px;
        }

        p {
            padding-top: 1rem;
            font-size: 2.6rem;
            font-weight: 500;
            color: #ffffff;

            span {
                border-bottom: #149DDD solid;
            }
        }
    }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .row {
        margin-top: 2rem;
    }

    .row .about-content {
        h3 {
            font-size: 2.6rem;
            font-weight: 800;
            color: #173b6c;
        }
    }

    ;

    .about-content .row {
        ul {
            padding: 0;
            height: 100%;
        }

        li {
            padding: 0.7rem;
            font-size: 1.6rem;
            display: flex;
            text-align: center;

            i {
                color: #149DDD;
                font-size: 2.5rem;
                top: 50%;
            }
        }
    }
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
#facts {
    margin-top: 1.5rem;
    margin-bottom: 5rem;

    .facts-content {
        .count-box {
            width: 100%;
            margin: 0;
            padding: 0;

            i {
                font-size: 5rem;
                color: #149DDD;
                float: left;
                display: block;
                line-height: 1.5;
            }

            span {
                display: block;
                font-size: 5rem;
                color: #000;
                font-weight: 700;
                margin-left: 6rem;
            }

            p {
                font-size: 1.4rem;
                margin: 0 0 0 6rem;
                color: #122f57;
            }
        }
    }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
#skills {
    background-color: #f5f8fd;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding-bottom: 5rem;

    .skill-contents {
        margin-top: 1rem;

        .progress-skill {
            margin-top: 1rem;
            margin-bottom: 1rem;

            div {
                font-size: 1.2rem;
                font-weight: 700;
                color: #050d18;

                .val {
                    float: right;
                }
            }

            .progress {
                margin-top: 1rem;
                background-color: #dce8f8;
                border-radius: 0.1rem;

                .progress-bar {
                    background-color: #149DDD;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
#resume {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    .resume-title {
        font-size: 2.6rem;
        font-weight: 800;
        color: #050d18;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .resume-item {
        border-left: #1f5297 solid .2rem;
        padding-left: 2rem;
        padding-bottom: 0.1rem;
        font-size: 1.6rem;

        h4 {
            padding-bottom: 1rem;
            font-size: 1.8rem;
            font-weight: 650;
        }

        p em {
            font-style: italic;
            color: #272829;
        }

        p {
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        ul {
            margin: 1em 0 1em 0;
            padding-left: 2rem;
            ;

            li {
                list-style-type: disc;
                margin: 1rem 0 1rem 0;
            }
        }

        h5 {
            background-color: #e4edf9;
            padding: .5rem 1.5rem;
            display: inline-block;
            font-weight: 650;
        }

        &:before {
            content: "";
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            border: #1f5297 solid .2rem;
            background-color: #FFFFFF;
            left: 0.75rem;
            position: absolute;
        }

        &:last-child {
            margin-bottom: 0;
            
        }
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    width: 30rem;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    background-color: #040B14;
    color: #ffffff;
    margin-bottom: 1.8rem;

    a {
        color: #149DDD
    }

    .credit,
    .copyright {
        margin: .5rem .5rem auto;
        font-size: 1.3rem;
        text-align: center;
    }
}